.patients-detail-content-layout {
  margin-left: 20px;
  margin-top: 20px;
}

.patients-detail-tabs-layout {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.patients-detail-sontabs-style {
	background-color: #2196F3;
}

