mixin headline
  .header.md-accent-bg(layout='row', layout-align='space-between')
    div(layout='column', layout-align='center start')
      .breadcrumb(layout='row', layout-align='start center')
        roll-index
        md-icon.s16.separator(md-font-icon='icon-chevron-right')
        span.parent 
      .title 添加病患 

#add-patient.page-layout.simple.fullwidth.doc-page.element-doc-page
  +headline
  .content
    include ui.gfc.jade
