include /.tmp/gfc/partials/widgets.jade
//- 链接加入 validators 和 schema 
//- script()
form(name="gfcForm", ng-submit='vm.add()', ng-model="vm['病患']", schema-name="病患", gfc-form, novalidate)
  div(flex layout='column', layout-gt-sm='row', layout-align-gt-sm='start')
    +text('档案号', '档案号')(flex="50")
    +text('姓名', '姓名')(flex="25")
    - var options = ["男","女"];
    +selector('性别', '性别', options)(flex="25")
  div(flex layout='column', layout-gt-sm='row', layout-align-gt-sm='start')
    +text('联系电话', '联系电话')(flex="50")
    +number('年龄', '年龄')(flex="25")
    +date-time('出生日期', '出生日期')(flex="25")
  div(flex layout='column', layout-gt-sm='row', layout-align-gt-sm='start')
    +text('身份证号', '身份证号')(flex="50")
    +text('出生地', '出生地')(flex="25")
    - var options = ["汉族","蒙古族","回族","藏族","维吾尔族","苗族","彝族","壮族","布依族","朝鲜族","满族","侗族","瑶族","白族","土家族","哈尼族","哈萨克族","傣族","黎族","傈僳族","佤族","畲族","拉祜族","水族","东乡族","纳西族","景颇族","柯尔克孜族","土族","达斡尔族","仫佬族","羌族","布朗族","撒拉族","毛南族","仡佬族","锡伯族","阿昌族","普米族","塔吉克族","怒族","乌兹别克族","俄罗斯族","鄂温克族","德昂族","保安族","裕固族","京族","塔塔尔族","独龙族","鄂伦春族","赫哲族","门巴族","珞巴族","基诺族","高山族"];
    +autocomplete('民族', '民族', options)(flex="25")
  div(flex layout='column', layout-gt-sm='row', layout-align-gt-sm='start')
    +text('住院号', '住院号')(flex="50")
    +text('影像号', '影像号')(flex="50")
  div(flex layout='column', layout-gt-sm='row', layout-align-gt-sm='start')
    - var options = ["未婚","已婚","离异"];
    +selector('婚姻状况', '婚姻状况', options)(flex="25")
    +number('身高', '身高')(flex="25")
    +number('体重', '体重')(flex="25")
    - var options = ["A","B","O","AB"];
    +selector('血型', '血型', options)(flex="25")
  div(flex layout='column', layout-gt-sm='row', layout-align-gt-sm='start')
    +text('联系地址', '联系地址')(flex="100")

  md-button.md-accent.md-raised(type="submit" ng-click="vm.submit()") 提交
  

